[user]
	email = andrew@schwartzmeyer.com
	name = Andrew Schwartzmeyer
[credential]
	helper = cache --timeout 30000 # seconds
[core]
	excludesfile = ~/.gitignore_global
	abbrev = 12
[commit]
	verbose = true
[log]
	decorate = true
	abbrevCommit = true
[format]
	pretty = oneline
[pull]
	ff = true
[push]
	default = simple
[rerere]
	enabled = true
	autoUpdate = true
[color]
	ui = true
[alias]
	backup = push --mirror backup
	lol = log --graph --pretty=oneline
[merge]
	tool = ediff
[mergetool.ediff]
        cmd = ediff $LOCAL $REMOTE $MERGED $BASE
        trustExitCode = true
[diff]
        tool = ediff
        guitool = ediff
[difftool.ediff]
        cmd = ediff $LOCAL $REMOTE $MERGED
[include]
	path = ~/.gitconfig_local
[help]
	autoCorrect = -1
