[user]
	email = andrew@schwartzmeyer.com
	name = Andrew Schwartzmeyer
[core]
	editor = emacsclient
	excludesfile = ~/.gitignore_global
	abbrev = 9
[alias]
	backup = push --mirror backup
	lol = log --graph --pretty=oneline
[am]
	threeWay = true
[apply]
	ignoreWhitespace = change
[commit]
	verbose = true
[credential]
	helper = cache --timeout 30000 # seconds
[diff]
	tool = ediff
	guitool = ediff
[difftool.ediff]
	cmd = ediff $LOCAL $REMOTE $MERGED
[format]
	pretty = medium
[help]
	autoCorrect = -1
[log]
	abbrevCommit = true
	decorate = short
[merge]
	tool = ediff
[mergetool.ediff]
	cmd = ediff $LOCAL $REMOTE $MERGED $BASE
	trustExitCode = true
[pull]
	ff = only
[push]
	default = current
[rebase]
	stat = true
	autoSquash = true
	autoStash = true
[rerere]
	enabled = true
	autoUpdate = true
[status]
	short = true
	branch = true
[include]
	path = ~/.gitconfig_local
