[submodule ".vim"]
	path = .vim
	url = git@github.com:andschwa/vim.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
