[user]
	email = andrew@schwartzmeyer.com
	name = Andrew Schwartzmeyer
	signingkey = A84A216F
[core]
	editor = "emacsclient -c"
	excludesfile = ~/.gitignore_global
[merge]
	tool = emerge
[color]
	ui = true
[push]
	default = simple
[alias]
        backup = push --mirror backup
[pull]
	ff = true
[rerere]
	enabled = true
[include]
	path = ~/.gitconfig_local
